<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
     <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
     <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
     <link rel="stylesheet" href="/Content/app.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-bookmark-o"></i> My Favourite Books</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(page=='home') { %>
              <a class="nav-link active" href="/"><i class="fas fa-home fa-lg"></i> Home</a>
            <% } else { %>
              <a class="nav-link" href="/"><i class="fas fa-home fa-lg"></i> Home</a>
            <% } %>
          </li>

          <li class="nav-item">
          <% if(page=='books') { %>
            <a class="nav-link active" href="/books"><i class="fas fa-book fa-lg"></i> Book List</a>
          <% } else { %> 
            <a class="nav-link" href="/books"><i class="fas fa-book fa-lg"></i> Book List</a>
          <% } %>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
