<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p><%= error %></p>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


