<%- include('../partials/header.ejs'); %>
 <div class="container w-75 align-self-center ">
  <div class="align-self-center p-5 bg-light" >
         <h1 style="text-align: center;">Contact Us</h1>
         <section class="article_text post">
        </section>
         <form>
            <fieldset id="contactForm">
                <legend></legend>
                <label for="txtName">Full name</label>
                <br>
                <input name="txtName" id="txtBest" type="text" tabindex="" required="required">
                <br>
                <label for="numPhone">Phone number</label>
                <br>
                <input name="numPhone" id="numPhone" type="text" tabindex="11" required="required">
                <br>
                <label for="txtEmail">Email address</label>
                <br>
                <input name="txtEmail" id="txtEmail" type="email" tabindex="13" required="required">
                <br>
                <label for="txtMessage">Message</label>
                <br>
                <textarea name="txtMessage" id="txtMessage" cols="70" rows="4" tabindex="15" required="required"></textarea>
            </fieldset>
            <input name="ContactUs" type="submit" id="contactUs" value="Send Form" tabindex="17">
            <input name="restart" type="reset" value="Start Over" tabindex="19">
        </form>
        </div>
      </div>
<%- include('../partials/footer.ejs'); %>