<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="card text-center mx-auto my-5"  style="width:70%">
      <div class="card-header">
        survey
      </div>
      <div class="card-body">
     
        <h3>Let's get started and create your survey!</h3>
            
        <a id="createSurveyButton" href="create" class="btn btn-primary">Create Your Survey</a>
        <a id="createSurveyButton" href="books" class="btn btn-danger"> Survey Question List</a>
  
      </div>
      <div class="card-footer text-muted">
      copy right by titans
      </div>
    </div>
   

<%- include('../partials/footer.ejs'); %>


